@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow-y: scroll;
}

/* Hide scroll bar for chrome, safari and opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scroll bar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
